/* 여기에 코드를 작성합니다. */
/* 모든 스타일은 반드시 클래스 선택자를 이용해 정의합니다. 이후 HTML 태그에 해당 클래스를 적용합니다. */

.main{
    width: 800px;
    height: 800px;
    border: 2px solid black;
}
.bla{
    width: 100px;
    height: 100px;
    background-color: black;
}
.whi{
    width: 100px;
    height: 100px;
    background-color: white;
}

.col{
    display: flex;
}